/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #336666;
  --ifm-color-primary-dark: #2e5c5c;
  --ifm-color-primary-darker: #2b5757;
  --ifm-color-primary-darkest: #244747;
  --ifm-color-primary-light: #387070;
  --ifm-color-primary-lighter: #3b7575;
  --ifm-color-primary-lightest: #3d7a7a;
  --ifm-footer-background-color: #336666;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #a1c1ad;
  --ifm-color-primary-dark: #a1c1ad;
  --ifm-color-primary-darker: #a1c1ad;
  --ifm-color-primary-darkest: #a1c1ad;
  --ifm-color-primary-light: #b6cfc0;
  --ifm-color-primary-lighter: #c1d6c9;
  --ifm-color-primary-lightest: #d6e4dc;
  --ifm-background-color: #494949;
  --ifm-footer-background-color: #336666;
}